.content-zinkerz {
  display: flex;
  align-items: center;
  width: 100%;
  height: 465px;
  background-color: #FF931E; }
  .content-zinkerz .info-zinkerz {
    display: flex;
    flex-direction: row-reverse;
    width: 100%; }
    .content-zinkerz .info-zinkerz .mini-nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 400px;
      justify-content: center;
      align-items: center;
      padding: 50px;
      font-size: 2em; }

main {
  background-color: #F2F2F2; }
  main .container-question {
    width: 95%;
    height: 465px;
    background-color: white;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    main .container-question .question-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      padding: 1em;
      color: whitesmoke;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-image: url("../img/header.JPG"); }
      main .container-question .question-header a {
        text-decoration: none;
        color: whitesmoke; }
    main .container-question .question h1 {
      font-weight: bolder;
      margin-left: 40px;
      margin-bottom: 30px; }
    main .container-question .question ul {
      list-style: none; }
      main .container-question .question ul .opt.correct {
        color: #0A9BAD; }
        main .container-question .question ul .opt.correct .answers div {
          color: whitesmoke;
          background-color: #0A9BAD; }
      main .container-question .question ul .opt.wrong {
        color: red; }
        main .container-question .question ul .opt.wrong .answers div {
          color: whitesmoke;
          background-color: red; }
      main .container-question .question ul .opt .answers {
        display: flex;
        flex-direction: row;
        height: 2em;
        margin-bottom: 30px;
        align-items: center; }
        main .container-question .question ul .opt .answers.correct {
          color: #0A9BAD; }
        main .container-question .question ul .opt .answers div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid black;
          margin-right: 20px;
          background-color: #F2F2F2; }
          main .container-question .question ul .opt .answers div .correct {
            color: #0A9BAD; }
    main .container-question button {
      margin-left: 2.5em; }
    main .container-question .statistics {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 200px;
      background-color: #00b3ee;
      font-size: 2em; }

header {
  background-color: #1c94c4;
  color: white;
  padding: 10px;
  width: 100%;
  height: 120px; }
  header .logo {
    width: 200px;
    height: 100px; }

footer {
  position: fixed;
  bottom: 0;
  background-color: #1c94c4;
  color: #add8e6;
  width: 100%;
  text-align: center;
  padding: 3px; }

/*# sourceMappingURL=app.css.map */
